 {% extends 'base.html.twig' %}

{%block body%}

<body class="layout with-sidenav fixed-sidenav under-navbar">
 <div id="example-sidenav" class="sidenav shadow-1 large fixed white">
      <div class="sidenav-header">
        <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
        <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
      </div>
      <a href="#" class="sidenav-link active">Mon magasin</a>
      <a href="#" class="sidenav-link">Modifier mon magasin</a>
      <a href="#" class="sidenav-link">Mes graphiques</a>
      <a href="#" class="sidenav-link">Paramètre du compte</a>
    </div>
{%endblock%}