<!DOCTYPE html>

<html>
  <head>
    <title>Artis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="custom.css"/>
     {% block stylesheets %}
            <link href="{{ asset('template/css/custom.css') }}" rel="stylesheet" />
        {% endblock %}

  </head>

  
  <body class="layout with-sidenav fixed-sidenav under-navbar">
    <header>
    <div class="navbar-menu_ml-auto">
      <nav class="navbar_primary">
        <a href="#" target="_blank" class="navbar-brand">Artis</a>
        
        <a class="navbar-link" href="{{ path('home') }}">Accueil</a>
          <a class="navbar-link" href="#">Fil d'actualité</a>
          <a class="navbar-link" href="#">Hall</a>
          {% if not app.user %}
          <a class="navbar-link" href="{{ path('app_login') }}">Se connecter</a>
          {% else %}
          <a class ="navbar-link" href="{{ path('app_logout') }}">Se Déconnecter</a></p>
          {% endif %}  
        </div>
      </nav>
</header>


    </header>

    <main>
      {% block body %} 

      {% endblock %}
    </main>

   
  </body>
</html>
<!-- FOOTER SECTION -->
<footer class="footer primary">
      Copyright © 2020 - Artis
    </footer>
 
