{% extends 'base.html.twig' %}


{% block body %}
   <div class="grix xs2 container">
        {# <div> Nom: </div>
        <div> {{ app.user.name }}</div>
        <div> Prénom: </div>
        <div> {{ app.user.firstname }}</div>
        <div> Email: </div>
        <div> {{ app.user.email }}</div> #}

{% endblock %}
